{% extends "../layouts/default.html" %}

{% block title %}
	User Experience and UI Design.
{% endblock %}

{% block meta_description %}
	Crafted an in-stadium unobtrusive mobile experience for a noisy crowd to order food and locate the food stands. 
{% endblock %}

{% block meta_keywords %}
	ruby on rails development, ror development, rails development, ruby development, iOS, Android, Agile, Node.js, microservices, Kanban.
{% endblock %}

{% block extra_css %}
	<link href="/css/case-studies.css" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="fankave-case-studies-viewport-section" data-hide-menu-section>
	<div class="case-studies-viewport">
	</div>
</section>
<section class="container">
	<div class="bridj-center-box-wrap fankave-center-box-wrap">
		<div class="project-info">
			<p class="f18">Fankave</p>
			<span class="small-span-border"></span>
			<p class="title">Slam-Dunk Mobile Experience</p>
			<p class="desc">
				The challenge! - Design a food-ordering experience for NBA fans while they watch a live game at a major sports arena in the US.
			</p>
		</div>
		<div class="share-img-wrap hidden">
			<a href="">{{ icon_share() }}</a>
			<p>Share</p>
		</div>
		<div class="pull-right wrap-up-img hidden-xs hidden-sm">
			<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/description_iphone_1.png">
		</div>
	</div>
	<div class="col-md-6 f16 mt50 why-challenge-section">
		<p class="mb30">Why was this a challenge?</p>
		<p class="lh24">
			This wasn't a run-of-the-mill app that will be used while relaxing on a couch at home, or while waiting in a queue just to kill time. The app will be used inside an arena during a live game event. Arena is packed, the fans are completely engulfed in the game, are going crazy cheering the teams, noise level is rocket high. Fans want to emotionally stay with the game. Period. So how do we craft an experience that is minimal? An experience that is non-intrusive? An experience that will not let fans miss even a minute of game’s play? Still, from the business point of view, we wanted the fans to place their orders to achieve the business objectives.
		</p>
	</div>
</section>

<section class="container">
	<div class="we-took-up-section fankave-we-took-up-section">
		<h5 class="sub-info-text fs40">Here's a short story of how we approached it..</h5>
		<div class="case-bg-img"></div>
		<div class="row">
			<div class="col-md-7 col-lg-7 pull-right">
				<div class="fankave-approach-overlapping-section">
					<h5>Secondary Research</h5>
					<p class="lh24 mb">Studied the arena layout, seating layout, inside facilities, pick up stand locations, appearance of the pickup stands, their distance from the seats etc. This initial study will go a long way to inform design decisions later.</p>

					<h5>Environment Study</h5>
					<span>Lighting</span>
					<p class="lh24">Arena is usually dimly lighted. There are the design implications. Can I just wave off my phone to grab the attention of the delivery guy if I have chosen in-seat delivery?</p>

					<span>Noise</span>
					<p class="lh24">Fans are emotionally engaged in the game. They are cheering their teams. Will I even hear a subtle notification in such case? Will I even hear my phone ringing?</p>

					<span>Cramped</span>
					<p class="lh24">It’s super packed. You will have hard time to even get out to the nearest exit for a restroom break. What does it has to do with the order I placed? It has to do a lot. How will I navigate to the intended pickup stand? Which exit should I take? The left one or the right one? For in-seat delivery, how will the delivery guy even find me in this sea of similar looking audience?</p>

				</div>
			</div>	
		</div>
	</div>
</section>

<section class="user-narratives-section">
	<div class="container">
		<div class="col-lg-5 col-md-5">
			<h5>User Narratives</h5>
			<div class="user-narratives-content">
				<span>“I am here to watch the game. Period.”</span> 
				<p>Experience needs to be non-intrusive and quick.</p>
			</div>
			<div class="user-narratives-content">
				<span>“Let’s do a selfie together”</span> 
				<p>Experience needs to consider social implications on mobile devices.</p>
			</div>
			<div class="user-narratives-content">
				<span>“Where on earth is my order?”</span> 
				<p>Experience needs to be transparent.</p>
			</div>
			<div class="user-narratives-content">
				<span>“I want a beer with the game. But can’t lose on even a single moment.”</span> 
				<p>Experience needs to be guiding.</p>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 user-narratives-image hidden-xs hidden-sm">
			<div class="flex-box flex-wrap user-narratives-image-container">
				<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/collage_1.jpg" class="img-responsive" alt="" title="">
				<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/collage_2.jpg" class="img-responsive" alt="" title="">
			</div>
			<div class="flex-box flex-wrap user-narratives-image-container">
				<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/collage_3.jpg" class="img-responsive" alt="" title="">
				<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/collage_4.jpg" class="img-responsive" alt="" title="">
			</div>
		</div>
	</div>
</section>

<section class="ideation-section">
	<div class="ideation-section-wrap">
		<div class="container">
			<h1>Ideation</h1>
			<span>Iterations. Iteration. And some more iterations.</span>
			<div class="center-box-wrap">
				<div class="slides custom_slick center-box-wrap-content" >
					<div class="slides-items" data-url="//s3.amazonaws.com/website-2017/images/case_studies/fankave/iteration_1.png">
						<p>It was important to design for social implications on mobile devices. An idea was to request an alternate number if the battery has almost drained out. This was critical since the users will be notified on their mobiles once their orders get ready for pickup.</p>
					</div>
					<div class="slides-items" data-url="//s3.amazonaws.com/website-2017/images/case_studies/fankave/iteration_2.png">
						<p>Experience flows with time. Idea was to design an experience that guides users in their journey. The app can guide the users on the best time to place their orders so that the orders can picked during half time break.</p>
					</div>
					<div class="slides-items" data-url="//s3.amazonaws.com/website-2017/images/case_studies/fankave/iteration_3.png">
						<p>Experience doesn't start and end within the arena. Idea was to understand the journey from service design perspective. For instance, the app can remind the users to recharge their mobile phones a day before the match. In-stadium experience is a lot of social aspects like clicking selfies, clicking the game, making videos.</p>
					</div>
					<div class="slides-items" data-url="//s3.amazonaws.com/website-2017/images/case_studies/fankave/iteration_4.png">
						<p>Experience needs to understand the environmental aspects. The arena is jam packed, fans their loud for their teams. Idea was to devise ways to ensure the users do not miss on the pickup notifications. A subtle banner notification or a mobile buzzer?</p>
					</div>
				</div>
				<div class="ideation-wrap-up-img">
					<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/iteration_1.png" />
				</div>
	  		</div>
		</div>
	</div>
</section>

<section class="evaluation-section">
    <div class="container">
    	<h5>Design Evaluation</h5>
    	<p>We evaluated our designs by a role playing technique invented by Stephen Anderson. We wanted to understand if the conversation was natural, yet minimalistic.</p>
    </div>
    <div class="wrap-up-img">
			<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/evaluation.jpg" class="img-responsive">
		</div>
</section>

<section class="before-after-section clearfix hidden-xs hidden-sm">
	<div class="container slide-fankave custom_slick">
		<div class="slide-fankave-item">
			<div class="before-image-section col-lg-6">
				<p>before</p>
				<div class="center-box-wrap">
					<div class="ideation-wrap-up-img">
						<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/conversation_before_1.png" class="img-responsive">
					</div>
					<div class="before-conversation">
						<ul>
						<li><span>User:</span> I want to order food</li>
						<li><span>Interface:</span> Are you at level 2 section 107?</li>
						<li><span>User:</span> That’s correct</li>
						<li><span>Interface:</span> There are 3 pickup stands near you</li>
						<li><span>User:</span> Alright</li>
						<li><span>Interface:</span> Pickup stand 1 is located near section 108</li>
						<li><span>User:</span> okay</li>
						<li><span>Interface:</span> It is a 3 min. walk, 20 mins. is the approximate preparation time. It is not crowded right now. Also, this is how the stand looks like for the outside</li>
						<li><span>User:</span> I want to order food</li>
						<li><span>Interface:</span> By the way, there are 2 more stands near you. You can get to know more about these stands as well, if you want</li>
						<li><span>User:</span> I want to order food</li>
						<li><span>Interface:</span> And not for forget, all stands offer the same menu</li>
						<li><span>User:</span> FOOOD!</li>
						<li><span>Interface:</span> Interesting in eating something now?</li>
						<li><span>User:</span> Have been waiting</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="after-image-section col-lg-6">
				<p>after</p>
				<div class="center-box-wrap">
					<div class="ideation-wrap-up-img">
						<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/conversation_after_1.png" class="img-responsive">
					</div>
					<div class="after-conversation">
						<ul>
						<li><span>User:</span> I want to order food</li>
						<li><span>Interface:</span> Are you at level 2 section 107?</li>
						<li><span>User:</span> That’s correct</li>
						<li><span>Interface:</span> Based on your location, it will roughly take 20 mins. to prepare your order by a pickup stand 3 mins away. Is that okay?</li>
						<li><span>User:</span> That sounds great. Proceed to order.</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		<div class="slide-fankave-item">
			<div class="before-image-section col-lg-6">
				<p>before</p>
				<div class="center-box-wrap">
					<div class="ideation-wrap-up-img">
						<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/conversation_before_2.png" class="img-responsive">
					</div>
					<div class="before-conversation">
						<ul>
						<li><span>Interface:</span> Here are the items you’ve picked</li>
						<li><span>User:</span> Looks great</li>
						<li><span>Interface:</span> Your total is $18.50</li>
						<li><span>User:</span> Alright</li>
						<li><span>Interface:</span> From which pickup stand do you want to pick this order?</li>
						<li><span>User:</span> Well…</li>
						<li><span>Interface:</span> There are 3 pickup stands near you</li>
						<li><span>User:</span> Alright</li>
						<li><span>Interface:</span> Pickup stand 1 is located near section 108</li>
						<li><span>User:</span> Hmm...</li>
						<li><span>Interface:</span> It is a 3 min. walk, 20 mins. is the approximate preparation time. It is not crowded right now. Also, this is how the stand looks like for the outside</li>
						<li><span>User:</span> I want to place the darn order. Game is about to start.</li>
						<li><span>Interface:</span> By the way, there are 2 more stands near you. You can get to know more about these stands as well, if you want.</li>
						<li><span>User:</span> F*#!Y0*</li>
						<li><span>Interface:</span> Want to place your order?</li>
						<li><span>User:</span> Well, why not…</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="after-image-section col-lg-6">
				<p>after</p>
				<div class="center-box-wrap">
					<div class="ideation-wrap-up-img">
						<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/conversation_after_2.png" class="img-responsive">
					</div>
					<div class="after-conversation">
						<ul>
						<li><span>Interface:</span> Here are the items you’ve picked</li>
						<li><span>User:</span> Looks great</li>
						<li><span>Interface:</span> Your total is $18.50</li>
						<li><span>User:</span> Alright</li>
						<li><span>Interface:</span> Your order will be ready in the next 20 mins. approximately.</li>
						<li><span>User:</span> Sounds good</li>
						<li><span>Interface:</span> Pay by your default payment method?</li>
						<li><span>User:</span> Yes, go ahead</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="slide-fankave-item">
			<div class="before-image-section col-lg-6">
				<p>before</p>
				<div class="center-box-wrap">
					<div class="ideation-wrap-up-img">
						<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/conversation_before_3.png" class="img-responsive">
					</div>
					<div class="before-conversation">
						<ul>
						<li><span>Interface:</span> Hey, congratulations, your order is placed with us. 2 chicken burgers, drinks…</li>
						<li><span>User:</span> Alright</li>
						<li><span>Interface:</span> Your order shall be ready in next 20 mins.</li>
						<li><span>User:</span> Awesome</li>
						<li><span>Interface:</span> Hey, by the way, pickup stand 1 is located near section 108, its a 3 in walk, 20 mins to prepare your order…</li>
						<li><span>User:</span> You’ve told me this enough times….</li>
						<li><span>Interface:</span> We’ll notify you once the order is ready…</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="after-image-section col-lg-6">
				<p>after</p>
				<div class="center-box-wrap">
					<div class="ideation-wrap-up-img">
						<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/conversation_after_3.png" class="img-responsive">
					</div>
					<div class="after-conversation">
						<ul>
						<li><span>Interface:</span> Hey, congratulations, your order is placed with us. 2 chicken burgers, drinks…</li>
						<li><span>User:</span> Alright</li>
						<li><span>Interface:</span> Your order shall be ready in next 20 mins.</li>
						<li><span>User:</span> Awesome</li>
						<li><span>Interface:</span> It will be ready at pickup stand 1, here are the directions</li>
						<li><span>User:</span> Alright, will be useful once I am notified to pick my order</li>
						<li><span>Interface:</span> We will vibrate your phone to notify you.</li>
						<li><span>User:</span> Cool</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="before-after-section clearfix hidden-md hidden-lg">
	<div class="container slide-fankave custom_slick">
		<div class="slide-fankave-item">
			<div class="after-image-section col-xs-12 col-sm-12">
				<div class="ideation-wrap-up-img">
					<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/conversation_after_1.png" class="img-responsive">
				</div>
			</div>
		</div>
		<div class="slide-fankave-item">
			<div class="after-image-section col-xs-12 col-sm-12">
				<div class="ideation-wrap-up-img">
					<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/conversation_after_2.png" class="img-responsive">
				</div>
			</div>
		</div>
		<div class="slide-fankave-item">
			<div class="after-image-section col-xs-12 col-sm-12">
				<div class="ideation-wrap-up-img">
					<img src="//s3.amazonaws.com/website-2017/images/case_studies/fankave/conversation_after_3.png" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</section>

{{ next_up_component(paths.bridj_case_studies_path, 'Bridj', 'mt30') }}

{% include "../includes/contact_form.html" %}

{% endblock %}
