@import "variables";

.brand-orange-fill-color{fill:$studio-orange-color;}
.brand-white-fill-color{fill:#fff;}
.dark-white-fill-color{fill:#f1f2f2;}
.logo-svg{fill:#252c31;}
.quote-fill-color{fill:#cdd2d6;}
.down_arrow_color{fill: #657682}
.chat-cls-1{fill:#00dcf0;opacity:0.2;}
.chat-cls-2{fill:none;stroke:#00dcf0;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.4px;}

.personal-info-cls-1,.personal-info-cls-4,.personal-info-cls-6{fill:#00dcf0;}
.personal-info-cls-1,.personal-info-cls-2{clip-rule:evenodd;}
.personal-info-cls-10,.personal-info-cls-2,.personal-info-cls-8,.personal-info-cls-9{fill:none;stroke:#00dcf0;}
.personal-info-cls-2,.personal-info-cls-9{stroke-miterlimit:10;}
.personal-info-cls-3{opacity:0.2;}
.personal-info-cls-4,.personal-info-cls-9{fill-rule:evenodd;}
.personal-info-cls-5{clip-path:url(#clip-path);}
.personal-info-cls-7{clip-path:url(#clip-path-2);}
.personal-info-cls-10,.personal-info-cls-8{stroke-linecap:round;stroke-linejoin:round;}
.personal-info-cls-8{stroke-width:4px;}
.personal-info-cls-10{stroke-width:2px;}
.personal-info-cls-11{clip-path:url(#clip-path-3);}
.personal-info-cls-12{clip-path:url(#clip-path-4);}